.app {
  border: 1px solid black;
  position: relative;

  .img {
    width: 100%;
    height: 100%;
  }

  .box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //
    background-color: rgba(255, 0, 0, 0.3);
    cursor: pointer;
  }
}