.app {
  border: 1px solid black;
  position: relative;

  .img {
    width: 100%;
    height: 100%;
  }

  .polygon,
  .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all 0.2s;
  }

  .polygon {
    background-color: rgba(255, 0, 0, 0.3);

    &:hover {
      background-color: rgba(255, 0, 0, 0.4);
    }
  }

  .circle {
    background-color: rgba(0, 255, 0, 0.2);

    &:hover,
    &.active {
      background-color: rgba(0, 0, 255, 0.2);
    }
  }

  .circle {
    .index {
      color: rgba(100, 100, 100, 0.5);
      font-family: 'Courier New', Courier, monospace;
      font-size: 0.5rem;
      position: absolute;
      transform: translate(-50%, -50%);
      user-select: none;
    }
  }
}