.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(203, 203, 203);
  gap: 1rem;

  .exp1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chooseMode {
    display: flex;
    gap: 1rem;
  }
}